.form-control {
  &.is-invalid {
    &::placeholder {
      color: var(--color-error) !important;
      opacity: 1;
    }
    
    &::input-placeholder {
      color: var(--color-error) !important;
    }
    
    &::placeholder {
      color: var(--color-error) !important;
      opacity: 1;
    }
    
    &:input-placeholder {
      color: var(--color-error) !important;
    }
    
    &::input-placeholder {
      color: var(--color-error) !important;
    }
  }
}