<aside class="sidenav" [ngClass]="{ 'sidenav-collapsed': isCollapsed }">
  <div class="logo-container">
    <button (click)="toggleCollapse()" class="text-gray-600">
      <fa-icon
        [icon]="['fas', isCollapsed ? 'bars' : 'bars']"
      ></fa-icon>
    </button>
    <a>
      <img src="/assets/img/logoPortal.png" alt="Logo" class="logo" [ngClass]="isCollapsed ? 'hidden' : 'block'" />
    </a>
  </div>
  <div class="menu-container">
    <ul class="flex flex-col pl-0 mb-0">
      <li class="mt-0.5 w-full rounded-2xl" *ngFor="let route of sidebarRoutes">
        <a
          [ngClass]="
            currentRoute == route.url
              ? 'rounded-md py-2.7 bg-[#1276c9] text-white text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 font-semibold text-slate-700 transition-colors'
              : 'text-gray-500 py-2.7 text-[15px] font-bold ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors'
          "
          [routerLink]="route.url"
          (click)="updateRoute(route.url)"
        >
          <div
            class="mr-2 flex h-8 w-8 items-center justify-center rounded-2xl bg-center stroke-0 text-center xl:p-2.5"
          >
            <fa-icon [icon]="route.icon"></fa-icon>
          </div>
          <span
            class="ml-1 duration-300 opacity-100 pointer-events-none ease" [ngClass]="isCollapsed ? 'hidden' : 'block'"

            >{{ route.title }}</span
          >
        </a>
      </li>
    </ul>
  </div>
  <div class="configuracao-container">
    <p></p>
    <div sidenav-card></div>
    <div>
      <ul class="flex flex-col pl-0 mb-0">
        <li
          class="mt-0.5 w-full"
          *ngFor="let route of sidebarDownRoutes"
          [ngClass]="
            currentRoute == route.url
              ? 'rounded-md  bg-[#1276c9] text-white text-sm ease-nav-brand my-0 flex items-center whitespace-nowrap  font-semibold text-slate-700 transition-colors'
              : 'text-gray-500 text-[15px] ease-nav-brand my-0 flex items-center whitespace-nowrap transition-colors'
          "
        >
          <a
            [ngClass]="
              currentRoute == route.url
                ? 'text-white py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap transition-colors'
                : 'text-gray-600 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center  whitespace-nowrap transition-colors'
            "
            [href]="route.url"
          >
            <div
              class="mr-0 flex h-8 w-8 items-center justify-center rounded-2xl bg-center stroke-0 text-center xl:p-2.5"
            >
              <fa-icon [icon]="route.icon"></fa-icon>
            </div>
            <span
              class="ml-1 duration-300 opacity-100 pointer-events-none ease" [ngClass]="isCollapsed ? 'hidden' : 'block'"
              >{{ route.title }}</span
            >
          </a>
        </li>
        <li class="mt-0.5 w-full">
          <button
            class="text-white w-full rounded-md py-2.7 text-sm ease-nav-brand my-0 flex items-center whitespace-nowrap px-2 transition-colors"
            (click)="confirmLogout()"
          >
            <div
              class="mr-2 flex h-8 w-8 items-center justify-center rounded-full bg-red-500 bg-center stroke-0 text-center xl:p-2.5"
            >
              <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
            </div>
            <span
              class="ml-1 duration-300 opacity-100 pointer-events-none ease text-gray-600 text-[14px]"
              [ngClass]="isCollapsed ? 'hidden' : 'block'"
              >Sair</span
            >
          </button>
        </li>
      </ul>
    </div>
  </div>
</aside>
