<div
  class="m-0 h-full text-base antialiased font-normal leading-default bg-sky-50 text-slate-500"
>
  <app-sidebar (collapseChange)="onCollapseChange($event)"></app-sidebar>
  <div
    class="relative h-full min-h-screen transition-all duration-200 ease-in-out"
    [ngClass]="{
      'ml-20': isMobile,
      'sm:ml-20': isSidebarCollapsed,
      'sm:ml-[16.5rem]': !isSidebarCollapsed
    }"
  >
    <app-navbar></app-navbar>
    <main class="w-full p-2 sm:p-4 lg:p-10 xl:p-16 2xl:p-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>