<div
  class="m-0 text-base antialiased font-normal leading-default bg-gray-100 text-slate-500"
>
  <app-sidebar (collapseChange)="onCollapseChange($event)"></app-sidebar>
  <div
    class="relative h-full max-h-screen transition-all duration-200 ease-in-out"
    [ngClass]="isSidebarCollapsed ? 'sm:ml-20' : 'sm:ml-[16.5rem]'"
  >
    <app-navbar></app-navbar>

    <main class="w-full h-full p-4 sm:p-6 lg:p-12 xl:p-20 2xl:p-10">
      <router-outlet></router-outlet>
      <div class="mx-auto mb-0 ml-0 text-center">
        <p class="font-bold text-blue-500">
          By Magna Sistemas - Almaviva Solutions
        </p>
      </div>
    </main>
  </div>
</div>
