<form id="form" class="bg-white text-gray-800 mb-2 rounded-lg" name="form" [formGroup]="form">
  <div class="grid grid-cols-4 gap-4">

    <div class="col-span-2 mb-5">
      <label for="nomeUnidadeOperacional" class="block font-semibold mb-2">Nome*</label>
      <input pInputText id="nomeUnidadeOperacional" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="nomeUnidadeOperacional" formControlName="nomeUnidadeOperacional" placeholder="Digite um nome da unidade operacional" />

      <div
        *ngIf="getAtributo('nomeUnidadeOperacional').invalid && (getAtributo('nomeUnidadeOperacional').dirty || getAtributo('nomeUnidadeOperacional').touched)"
        class="text-red-500 text-sm py-2">
        <div *ngIf="getAtributo('nomeUnidadeOperacional').errors?.['required']">Campo obrigatório.</div>
        <div *ngIf="getAtributo('nomeUnidadeOperacional').errors?.['maxlength']">Máximo 100 caracteres</div>
      </div>
    </div>

    <div class="col-span-2 mb-5">
      <label for="cep" class="block font-semibold mb-2">CEP</label>
      <input pInputText id="cep" type="text" class="w-full text-sm px-4 py-2 border rounded-lg" name="cep"
        formControlName="cep" placeholder="Digite um CEP" mask="99999-999" />
    </div>
  </div>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-3 mb-5">
      <label for="nomeLogradouro" class="block font-semibold mb-2">Logradouro</label>
      <input pInputText id="nomeLogradouro" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="nomeLogradouro" formControlName="nomeLogradouro" placeholder="Digite o logradouro" />

      <div
        *ngIf="getAtributo('nomeLogradouro').invalid && (getAtributo('nomeLogradouro').dirty || getAtributo('nomeLogradouro').touched)"
        class="text-red-500 text-sm py-2">
        <div *ngIf="getAtributo('nomeLogradouro').errors?.['maxlength']">Máximo 500 caracteres</div>
      </div>
    </div>

    <div class="col-span-1 mb-5">
      <label for="numeroLogradouro" class="block font-semibold mb-2">Número</label>
      <input pInputText id="numeroLogradouro" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="numeroLogradouro" formControlName="numeroLogradouro" placeholder="Digite um número" />

      <div
        *ngIf="getAtributo('numeroLogradouro').invalid && (getAtributo('numeroLogradouro').dirty || getAtributo('numeroLogradouro').touched)"
        class="text-red-500 text-sm py-2">
        <div *ngIf="getAtributo('numeroLogradouro').errors?.['maxlength']">Máximo 10 caracteres</div>
      </div>
    </div>

    <div class="col-span-2 mb-5">
      <label for="nomeComplemento" class="block font-semibold mb-2">Complemento</label>
      <input pInputText id="nomeComplemento" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="nomeComplemento" formControlName="nomeComplemento" placeholder="Digite um complemento" />

      <div
        *ngIf="getAtributo('nomeComplemento').invalid && (getAtributo('nomeComplemento').dirty || getAtributo('nomeComplemento').touched)"
        class="text-red-500 text-sm py-2">
        <div *ngIf="getAtributo('nomeComplemento').errors?.['maxlength']">Máximo 500 caracteres</div>
      </div>
    </div>

    <div class="col-span-1 mb-5">
      <label for="nomeBairro" class="block font-semibold mb-2">Bairro</label>
      <input pInputText id="nomeBairro" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="nomeBairro" formControlName="nomeBairro" placeholder="Digite um bairro" />

      <div
        *ngIf="getAtributo('nomeBairro').invalid && (getAtributo('nomeBairro').dirty || getAtributo('nomeBairro').touched)"
        class="text-red-500 text-sm py-2">
        <div *ngIf="getAtributo('nomeBairro').errors?.['maxlength']">Máximo 100 caracteres</div>
      </div>
    </div>

    <div class="col-span-3 mb-5">
      <label for="municipio" class="block font-semibold mb-2">Município</label>

      <p-autocomplete id="municipio" name="municipio" formControlName="municipio" placeholder="Digite um municipio"
        [suggestions]="municipios" (completeMethod)="buscarMunicipio($event)" (onSelect)="setUf($event)"
        optionLabel="nome" styleClass="w-full" appendTo="body" [showEmptyMessage]="true"
        emptyMessage="Nenhum registro encontrado." [minLength]="2" dataKey="codigoIbge" field="nome"
        inputStyleClass="w-full text-sm px-4 py-2 border rounded-lg" />
    </div>

    <div class="col-span-2 mb-5">
      <label for="uf" class="block font-semibold mb-2">Estado</label>
      <p-select id="uf" formControlName="uf" name="uf" [options]="ufs || []" optionLabel="sigla" [filter]="true"
        filterBy="nome,sigla" placeholder="Selecione um estado" class="w-full text-sm border rounded-lg" />
    </div>

    <div class="col-span-2 mb-5">
      <label for="telefonePrincipal" class="block font-semibold mb-2">Telefone principal</label>
      <input pInputText id="telefonePrincipal" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="telefonePrincipal" formControlName="telefonePrincipal" placeholder="(XX) XXXXX-XXXX"
        mask="(99) 99999-9999" />
    </div>

    <div class="col-span-2 mb-5">
      <label for="telefoneSecundario" class="block font-semibold mb-2">Telefone Secundário</label>
      <input pInputText id="telefoneSecundario" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="telefoneSecundario" formControlName="telefoneSecundario" placeholder="(XX) XXXXX-XXXX"
        mask="(99) 99999-9999" />
    </div>

    <div class="col-span-2 mb-5">
      <label for="nomeResponsavelUnidade" class="block font-semibold mb-2">Responsável da Unidade Operacional</label>
      <input pInputText id="nomeResponsavelUnidade" type="text" class="w-full text-sm px-4 py-2 border rounded-lg"
        name="nomeResponsavelUnidade" formControlName="nomeResponsavelUnidade" placeholder="Digite o nome do responsavel pela unidade" />

      <div
        *ngIf="getAtributo('nomeResponsavelUnidade').invalid && (getAtributo('nomeResponsavelUnidade').dirty || getAtributo('nomeResponsavelUnidade').touched)"
        class="text-red-500 text-sm py-2">
        <div *ngIf="getAtributo('nomeResponsavelUnidade').errors?.['maxlength']">Máximo 500 caracteres</div>
      </div>
    </div>

  </div>
</form>
