<p-menubar styleClass="custom-menubar">
  <ng-template pTemplate="start">
    <nav class="pl-5">
      <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
        <li class="text-xs pb-1 text-black font-bold leading-normal">
          <a class="opacity-70" href="javascript:;">Você está aqui:</a>
        </li>
      </ol>
      <h6 class="mb-0 mt-[-5px] font-bold capitalize text-[#1276c9]">
        70 DP Tatuapé
      </h6>
      <p class="text-xs mt-[-3px] text-black mb-0">Alterar delegacia</p>
    </nav>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex items-center mt-2 grow lg:flex lg:basis-auto justify-end">
      <div class="flex items-center">
        <li class="flex items-center px-4 text-[#1276c9]">
          <a
            href="javascript:;"
            class="p-0 text-xl font-thin transition-all ease-nav-brand"
          >
            <fa-icon [icon]="['fas', 'right-left']" class="mr-2"></fa-icon>
          </a>
        </li>
      </div>
      <ul
        class="flex flex-row justify-end pl-0 pr-5 mb-0 list-none md-max:w-full"
      >
        <li class="flex items-center px-4 text-[#1276c9]">
          <a
            href="javascript:;"
            class="p-0 text-xl transition-all ease-nav-brand"
          >
            <fa-icon [icon]="['fas', 'bell']" class="mr-2"></fa-icon>
          </a>
        </li>

        <li class="flex items-center">
          <a
            class="flex rounded-full items-center justify-center bg-[#1276c9] w-12 h-12 text-center"
          >
            <span class="text-white font-bold text-lg">UM</span>
          </a>
          <div class="pl-2 flex flex-col items-start">
            <p class="mb-0 text-[#1276c9] font-bold pb-2">Usuário Mocado</p>
            <p class="mb-0 mt-[-10px] text-sm text-black">
              Delegada da Policia
            </p>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</p-menubar>
