<form id="form" class="bg-white text-gray-800 rounded-md py-4 px-6" name="form" [formGroup]="form">
  <div class="grid grid-cols-6 gap-4">

    <div class="col-span-2 mb-5">
      <label for="nomeUnidadeOperacional" class="block font-semibold">Nome</label>
      <input pInputText id="nomeUnidadeOperacional" type="text" class="w-full text-sm px-4 py-2 border rounded-lg border-gray-300"
        name="nomeUnidadeOperacional" formControlName="nomeUnidadeOperacional" placeholder="Digite um nome de unidade operacional" />
    </div>

    <div class="col-span-2 mb-5">
      <label for="cep" class="block font-semibold">CEP</label>
      <input pInputText id="cep" type="text" class="w-full text-sm px-4 py-2 border rounded-lg border-gray-300" name="cep"
        formControlName="cep" placeholder="Digite um CEP" mask="99999-999" />
    </div>

    <div class="col-span-2 mb-5">
      <label for="nomeMunicipio" class="block font-semibold">Nome do Município</label>
      <input pInputText id="nomeMunicipio" type="text" class="w-full text-sm px-4 py-2 border rounded-lg border-gray-300"
        name="nomeMunicipio" formControlName="nomeMunicipio" placeholder="Digite o municipio da unidade operacional" />
    </div>
  </div>
</form>
