<div class="flex flex-wrap mt-0 -mx-3 h-screen w-screen overflow-hidden">
  <div class="hidden md:block w-6/12 h-full max-w-full relative">
    <div
      class="flex flex-col w-full h-full max-w-full px-3 mx-auto items-center justify-center md:w-6/12 lg:w-5/12 xl:w-4/12"
    >
      <img
        src="assets/img/usuario-nao-autorizado.jpg"
        alt="Representação de usuário não autorizado"
        class="absolute inset-0 w-full h-full object-cover skew-x-10"
      />
    </div>
  </div>
</div>
