<nav class="navbar p-3 d-flex gap-3 align-items-center">

  <button 
    class="btn text-white hamburger-btn d-flex d-md-none align-items-center p-2" 
    [class.menu-open]="isSidebarOpen"
    (click)="toggleSidebar.emit()"
    [attr.aria-expanded]="isSidebarOpen"
    aria-label="{{ isSidebarOpen ? 'Fechar menu' : 'Abrir menu' }}">
    <fa-icon [icon]="isSidebarOpen ? faTimes : faBars"></fa-icon>
  </button>


  <div class="d-flex flex-column unit-info">
    <small>Você está aqui:</small>
    <div class="d-flex align-items-center gap-2 ">
      <span class="fw-bold">70 DP Tatuapé</span>
      <button 
        class="btn btn-sm text-white p-1 " 
        title="Alterar unidade operacional"
        aria-label="Alterar unidade operacional">
        <fa-icon [icon]="faExchange"></fa-icon>
      </button>
    </div>
  </div>


  <div class="flex-grow-1"></div>


  <div class="accessibility-controls d-flex align-items-center gap-2">
    <app-accessibility-controls buttonClass="text-white" />
  </div>


  <button 
    class="btn text-white p-2" 
    title="Alertas"
    aria-label="Alertas">
    <fa-icon [icon]="faBell"></fa-icon>
  </button>


  <div class="dropdown">
    <button 
      class="btn dropdown-toggle d-flex align-items-center gap-2 text-white p-2" 
      type="button" 
      id="userDropdown" 
      data-bs-toggle="dropdown" 
      aria-expanded="false"
      [attr.aria-expanded]="isUserDropdownOpen"
      (click)="toggleUserDropdown()">
      <img 
         src="assets/img/default-avatar.svg" 
         alt="Foto do usuário" 
         class="user-avatar rounded-circle"
         width="32" 
         height="32">
      <div class="d-none d-md-block text-start">
        <div class="user-name fw-bold">Nome do Usuário</div>
        <div class="user-role">Unidade Operacional</div>
      </div>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" [class.show]="isUserDropdownOpen">
      <li>
        <a class="dropdown-item d-flex align-items-center gap-2 " href="#" (click)="goToProfile($event)">
          <fa-icon [icon]="faUser"></fa-icon>
          Meu Perfil
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="logout($event)">
          <fa-icon [icon]="faSignOut"></fa-icon>
          Sair
        </a>
      </li>
    </ul>
  </div>
</nav>
