<div class="flex items-center justify-center h-screen w-screen bg-white">
  <div class="flex flex-col items-center text-center">
    <img
      src="assets/img/pagina-nao-encontrada.jpg"
      alt="Ilustração de uma página não encontrada"
      class="w-96 h-auto object-cover"
    />
    <p class="text-2xl font-normal text-gray-800">
      {{ messages.TITLE }}
    </p>
    <button
      routerLink="/home"
      class="mt-6 px-6 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition"
    >
      {{ messages.BUTTON }}
    </button>
  </div>
</div>
