<h5 class="mb-10">Resultado de extração de arquivo XLSX</h5>

<div class="grid grid-cols-10 gap-4">

  <div class="col-span-10 mb-5">
    <span><strong class="text-blue-500">Título do documento: </strong>{{logs.tituloDocumento}}</span>
  </div>

  <div class="col-span-10 mb-5">
    <span><strong class="text-blue-500">Tamanho do arquivo: </strong>{{logs.tamanhoArquivo }}</span>
  </div>

  <div class="col-span-10 mb-5">
    <span><strong class="text-blue-500">Quantidade de linhas: </strong>{{logs.quantidadeLinhas}}</span>
  </div>

  <div class="col-span-10 mb-5">
    <span [ngClass]="verifyErros() ? 'text-red-600' : 'text-green-500'"><strong class="text-blue-500">Status:
      </strong>{{logs.status}}</span>
  </div>

  <div class="col-span-10 mb-5" *ngIf="verifyErros()">
    <span><strong class="text-blue-500">Log de processamento: </strong>
      <button type="button" (click)="abrirModalLog()"
        class="text-white bg-amber-700 text-sm ml-4 hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg p-2.5 text-center inline-flex items-center me-2">
        <span>Clique para visualizar</span>
      </button> </span>
  </div>

</div>

<p-dialog header="Log do arquivo XLSX" [modal]="true" [(visible)]="viewLogErros" [style]="{ width: '40rem' }">

  <table class="w-full">
    <tr class="!text-white rounded py-2 bg-sky-500">
      <th class="text-white p-2">Descrição do Erro</th>
    </tr>

    <tr *ngFor="let log of logErrosArray"> class="rounded-2xl bg-gray-100 p-1 text-gray-800 text-center">
      <td>{{ log }}</td>
    </tr>
  </table>
</p-dialog>
