@tailwind base;
@tailwind components;
@tailwind utilities;

$cor-fundo: #dbeafe;
$cor-bradcrumb: #52a4db;

p-panel .p-panel .p-panel-header {
  @apply bg-white text-gray-800 rounded-lg;
}

.breadcrumb-link-color {
  color: $cor-bradcrumb;
}

.custom-menubar {
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  background-color: $cor-fundo;

  .p-menubar-root-list {
    width: 100%;
  }
}

.p-menubar-end {
  margin-left: auto;
}

.p-datatable {
  @apply rounded-lg shadow-sm overflow-hidden;

  .p-datatable-thead > tr > th {
    background-color: $cor-bradcrumb;
    @apply text-white font-semibold text-center p-4;
    border: none;
  }

  .p-datatable-tbody > tr {
    background-color: white;
    transition: background-color 0.2s ease-in-out;
  }
  .p-datatable-tbody > tr:hover {
    background-color: lighten($cor-bradcrumb, 40%);
  }

  .p-datatable-tbody td {
    @apply text-center p-3;
    border: none;
  }
}

.p-toast {
  .p-toast-message {
    @apply rounded-lg font-medium;
  }

  .p-toast-message-info {
    background-color: lighten($cor-bradcrumb, 30%);
    @apply text-gray-800;
  }

  .p-toast-message-error {
    @apply bg-red-300 text-red-900;
  }
}
