<p-toast />
<p-dialog
  header=""
  [modal]="true"
  [(visible)]="confirmRemoveVisible"
  [style]="{ width: '30rem' }"
>
  <h5 class="p-text-secondary flex justify-center mb-8">
    Deseja realmente remover a unidade operacional?
  </h5>
  <div class="flex justify-center gap-2">
    <button
      type="button"
      (click)="cancelRemove()"
      class="text-white bg-surface-700 hover:bg-surface-800 focus:ring-4 focus:outline-none focus:ring-surface-300 font-medium rounded-lg p-2.5 text-center inline-flex items-center me-2"
    >
      <span>Cancelar</span>
    </button>

    <button
      type="button"
      (click)="confirmRemove()"
      class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg p-2.5 text-center inline-flex items-center me-2"
    >
      <span>Remover</span>
    </button>
  </div>
</p-dialog>
<div class="w-full h-full px-3 py-3 mx-auto">
  <breadcrumb [items]="breadcrumb"></breadcrumb>
  <div class="flex bg-white rounded-md mb-8">
    <app-unidade-operacional-filter
      #filterForm
      class="w-full"
    ></app-unidade-operacional-filter>
    <div class="flex justify-center items-center py-4 w-auto">
      <button
        type="button"
        (click)="reset()"
        class="text-white font-bold w-20 h-12 bg-red-700 font-medium flex items-center rounded-md py-1 justify-center text-center me-2"
      >
        Limpar
      </button>
      <button
        type="button"
        (click)="search()"
        class="text-white w-20 h-12 bg-[#1276c9] font-bold font-medium flex items-center rounded-md py-1 px-2 justify-center text-center me-4"
      >
        Pesquisar
      </button>
    </div>
  </div>
  <app-unidade-operacional-table
    [dataSource]="dataSource"
    (edit)="editar($event)"
    (remove)="remover($event)"
    (pageChanged)="onPageChanged($event)"
  ></app-unidade-operacional-table>
  <button
    [pTooltip]="tooltipContent2"
    (click)="addXlsx()"
    pTooltip="Enviar XLSX"
    showDelay="500"
    hideDelay="300"
    class="fixed rounded-full right-20 bottom-10 rounded-full w-9 h-9 text-white bg-sky-500 border border-sky-600 hover:bg-sky-400 transition-all"
  >
    <fa-icon [icon]="['fas', 'upload']"></fa-icon>
  </button>
  <ng-template #tooltipContent2>
    <div class="flex items-center font-bold">
      <span>Enviar XLSX</span>
    </div>
  </ng-template>
  <button
    [pTooltip]="tooltipContent"
    (click)="add()"
    pTooltip="Cadastrar unidade operacional"
    showDelay="500"
    hideDelay="300"
    class="fixed rounded-full right-10 bottom-10 rounded-full w-9 h-9 text-white bg-sky-500 border border-sky-600 hover:bg-sky-400 transition-all"
  >
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
  </button>
  <ng-template #tooltipContent>
    <div class="flex items-center font-bold">
      <span>Cadastrar unidade operacional</span>
    </div>
  </ng-template>
  <button
    [pTooltip]="tooltipContent3"
    (click)="onHistorico()"
    pTooltip="Histórico de ações"
    showDelay="500"
    hideDelay="300"
    class="fixed rounded-full right-10 bottom-20 rounded-full w-9 h-9 text-white bg-sky-500 border border-sky-600 hover:bg-sky-400 transition-all"
  >
    <fa-icon [icon]="['fas', 'file']"></fa-icon>
  </button>
  <ng-template #tooltipContent3>
    <div class="flex items-center font-bold">
      <span>Histórico de ações</span>
    </div>
  </ng-template>
</div>